<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/chat-main.css">
    <title>MumgCHIVE</title>
</head>
<body>
    <div class="chat-container">
        <header class="chat-header">
            <div class="logo">
                <img src="./img/logo.png" alt="MumgCHIVE-logo">
            </div>
            <div class="chat-history">질문 기록 보기</div>
        </header>

        <main class="chat-window">
            <!-- 질문/응답 메세지 js -->
        </main>

        <footer class="chat-input-area">
            <input type="text" id="chat-input" placeholder="내용을 입력하세요."/>
            <button id="chat-send"></button>
        </footer>
    </div>
</body>
<script src="./js/chat.js"></script>
</html>